<div class="input-field">
    <label>Step name:</label>
    <input class="step-name" type="text" placeholder="The name of the step">
</div>
<div class="input-field sortable">
    <label>Paragraphs:</label>
    <ul class="paragraphs">
    <% for (var i = 0; i < step.paragraphs.length; i++) {
        if (step.paragraphs[i].type === 'text') {
        %><%= textParagraphTemplate({ paragraph: step.paragraphs[i] }) %><%
        } else if (step.paragraphs[i].type === 'path') {
        %><%= pathParagraphTemplate({ paragraph: step.paragraphs[i], steps: steps }) %><%
        }
    } %>
    </ul>
    <button class="add-button"><i class="fas fa-plus"></i></button>
</div>
<div class="expander" data-expander-container="step-expander"><i class="fas fa-angle-down"></i></div>
<div class="expansion" data-expander-container="step-expander">
    <div class="additionnal-params">
        <div class="sub-title">On display:</div>
        <textarea class="onDisplay" placeholder="The name of the step"></textarea>
    </div>
</div>