<li class="path-element">
    <i class="fas fa-sort sort-handle"></i> <span>Path:</span>
    <span class="remove-button"><i class="fas fa-times"></i></span>
    <div class="path-params">
        <div class="sub-title">Target step:</div>
        <select class="to-step">
        <% for (var i = 0; i < steps.length; i++) { %>
            <option value="<%- steps[i].name %>"><%- steps[i].name %></option>
        <% } %>
        </select>
        <div class="sub-title">Text:</div>
        <textarea class="textTextArea"></textarea>
        <input type="checkbox" class="is-text-js"> <span>Is text JavaScript</span>

        <div class="expander" data-expander-container="path-expander"><i class="fas fa-angle-down"></i></div>
        <div class="expansion" data-expander-container="path-expander">
            <div class="sub-title">On click:</div>
            <textarea class="onClick" placeholder="Javascript code here..."></textarea>

            <div class="sub-title">Is visible:</div>
            <textarea class="isVisible" placeholder="Javascript code here... (must return boolean)"></textarea>
        </div>
    </div>
</li>