<li class="text-element">
    <i class="fas fa-sort"></i> <span>Text:</span>
    <span class="remove-button"><i class="fas fa-times"></i></span>
    <div class="path-params">
        <div class="sub-title">Text:</div>
        <textarea class="textTextArea"></textarea>
        <input type="checkbox" class="is-text-js"> <span>Is text JavaScript</span>

        <div class="expander" data-expander-container="text-expander"><i class="fas fa-angle-down"></i></div>
        <div class="expansion" data-expander-container="text-expander">
            <div class="sub-title">Is visible:</div>
            <textarea class="isVisible" placeholder="Javascript code here... (must return boolean)"></textarea>
        </div>
    </div>
</li>